@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Geologica-Black.ttf");
  font-weight: 900;
}

body {
  font-size: 19px;
  font-family: "Geologica", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
}

.section {
  margin-top: 70px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 19px;
}

ul li {
  font-size: 18px;
}

.btn__green {
  line-height: 100%;
  background: #9bc52f;
  color: #fff;
  border-radius: 30px;
  padding: 8px 34px;
  border: none;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.37);
  transition: ease 0.2s;
}

.btn__green:hover {
  background: #90b631;
}

.btn__green:active {
  background: #7e9c31;
}

.btn__red {
  line-height: 100%;
  background: #ff0000;
  color: #fff;
  border-radius: 30px;
  padding: 8px 34px;
  border: none;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.37);
  transition: ease 0.2s;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.37);
}

.btn__red:hover {
  background: #dd0303;
}

.btn__red:active {
  background: #b90404;
}

.btn__orange {
  line-height: 100%;
  background: #ef7f1a;
  color: #fff;
  border-radius: 30px;
  padding: 8px 34px;
  border: none;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.37);
  transition: ease 0.2s;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.37);
}

.btn__orange:hover {
  background: #dd761d;
}

.btn__orange:active {
  background: #c76e20;
}

.header__top-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__top-call .btn__green {
  margin-left: 19px;
}

.header__top-logo p {
  margin-top: 7px;
  font-weight: 200;
  font-size: 12px;
  font-style: italic;
  max-width: 211px;
}

.header__top-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__top-button p {
  margin-top: 19px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.header__bottom {
  background-color: #6b8723;
  padding: 12px 0;
}

.header__bottom-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 45px;
}

.nav ul li a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: ease 0.2s;
}

.nav ul li a:hover {
  opacity: 0.8;
}

.header__bottom-body a {
  display: flex;
  align-items: center;
}

.header__bottom-body a p {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: ease 0.2s;
}
.header__bottom-body a:hover p {
  opacity: 0.8;
}
.header__bottom-body a span {
  flex-shrink: 0;
  margin-right: 11px;
  background: #ef7f1a;
  border-radius: 100%;
  padding: 10px;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.37);
  transition: ease 0.2s;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.37);
}

.header__bottom-body a:hover span {
  background: #dd761d;
}

.header__bottom-body a:active span {
  background: #c76e20;
}

.tabs {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
}
.tab {
  padding: 16px 45px;
  border-radius: 25px;
  color: #b3b3b3;
  font-weight: 400;
  user-select: none;
  transition: background-color 0.3s;
}
.tab.active {
  padding: 16px 45px;
  border-radius: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 19px;
  background: #9cc72f;
}
.tab-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease, padding 0.5s ease;
  padding-top: 0;
  padding-bottom: 0;
}

.tab-content.active {
  opacity: 1;
  max-height: 500px; /* достаточно большая высота для содержимого */
  padding-top: 15px;
  padding-bottom: 15px;
}

.tab-content-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.tab-content-cards .included__card {
  display: flex;
  align-items: center;
  padding: 20px 16px;
}

.tab-content-cards .included__card:nth-child(2n) {
  background-color: #e2e8f0;
}

.tab-content-cards .included__card:nth-child(1),
.tab-content-cards .included__card:nth-child(4),
.tab-content-cards .included__card:nth-child(5) {
  background-color: #e2f1d7;
}

.tab-content-cards .included__card-info h3 {
  font-size: 18px;
  font-weight: 700;
}

.tab-content-cards .included__card-info p {
  font-size: 18px;
}

.hero {
  padding: 40px 0 59px 0;
  overflow-y: hidden;
  background: linear-gradient(90deg, #7c9d29 0%, #9cc72f 47%, #7e9f2a 100%);
}

.hero h1 {
  color: #fff;
  font-weight: 700;
  max-width: 684px;
  width: 100%;
  line-height: 130%;
  white-space: nowrap;
}

.hero__body {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero__body-absolute img {
  position: absolute;
  right: 0;
}

.hero__body-left {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.hero__body-left p {
  font-family: "Geologica";
  margin-top: 20px;
  font-size: 24px;
  font-weight: 100;
  color: #fff;
}

.hero__body-btn {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__body-btn button {
  font-size: 24px;
  padding: 15px 35px;
}

.hero__body-btn .btn__green {
  margin-top: 25px;
}

.hero__body-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 580px;
  width: 100%;
}

.complexity {
  background-color: #fff;
  padding: 47px 97px;
  border-radius: 55px;
  box-shadow: 7px 7px 24px 0 rgba(0, 0, 0, 0.25);
}
.complexity__cards {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  margin-top: 39px;
}
.complexity__card {
  padding: 33px 25px 100px 25px;
  border-radius: 25px;
  background: #e2f1d7;
  max-width: 322px;
}

.complexity__card:nth-child(2) {
  background: #e2e8f0;
}

.complexity__card-header {
  display: flex;
  align-items: center;
}

.complexity__card-header span {
  font-size: 51px;
  font-weight: 700;
  color: #fff;
}

.complexity__card-header p {
  font-weight: 700;
  max-width: 165px;
  margin-left: 20px;
}
.complexity__card-ul {
  margin-top: 53px;
  max-width: 270px;
}

.complexity__card-ul ul li {
  margin-bottom: 20px;
  font-weight: 300;
}
.complexity__card-ul ul li strong {
  font-weight: 600;
}

.complexity__card-bottom {
  margin-top: 40px;
}

.industry__body h2 {
  color: #9cc72f;
}

.industry__body h3 {
  margin-top: 25px;
  font-weight: 300;
  display: flex;
  font-size: 19px;
  flex-direction: column;
}

.industry__body h3 span {
  font-weight: 500;
  font-size: 30px;
}

.industry__body p {
  margin-top: 30px;
}

.industry__cards {
  margin-top: 59px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.industry__card {
  position: relative;
  display: flex;
  background: #e2f1d7;
  border-radius: 30px;
  padding: 10px 34px 30px 0;
  overflow: hidden;
}

.industry__card:nth-child(2),
.industry__card:nth-child(3),
.industry__card:nth-child(6) {
  background: #e2e8f0;
}

.industry__card img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.industry__card-text {
  display: flex;
  flex-direction: column;
  padding-left: 163px;
  right: 40px;
}

.industry__card-text h3 {
  font-weight: 300;
}

.industry__card-text span {
  margin-top: 5px;
  font-weight: 600;
  font-size: 40px;
}

.industry__card-text p {
  font-weight: 300;
  font-size: 14px;
  color: #808080;
  margin-top: 10px;
}

.protection {
  padding: 50px 0;
  background: linear-gradient(90deg, #7c9d29 0%, #9cc72f 47%, #7e9f2a 100%);
}

.protection__body h2 {
  color: #fff;
}

.protection__cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.protection__card {
  padding: 30px 27px 27px 27px;
  border-radius: 20px;
  background: #e2f1d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 389px;
  transition: ease 0.2s;
}

.protection__card:hover {
  background: #fff;
}

.protection__card h3 {
  font-weight: 500;
  max-width: 250px;
  margin-right: auto;
}

.protection__card ul {
  margin-top: 30px;
}

.protection__card ul li {
  font-weight: 200;
  margin-bottom: 20px;
}

.protection__card ul li:last-child {
  margin-bottom: 0;
}

.protection__card span {
  margin-top: 46px;
  font-size: 24px;
  font-weight: 500;
}

.protection__card a {
  padding: 15px 0;
  margin-top: 34px;
  font-size: 19px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.decline {
  padding: 50px 0;
  background: #ef7f1a;
}

.decline__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.decline__body h2 {
  max-width: 558px;
  font-weight: 200;
  font-size: 30px;
  color: #fff;
}

.decline__body h2 span {
  font-weight: 600;
}

.decline__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.decline__btn button {
  margin-bottom: 20px;
  padding: 12px 40px;
}

.team__body {
  display: flex;
  flex-direction: column;
}

.team__body h3 {
  margin-top: 25px;
  max-width: 873px;
  font-weight: 200;
}

.team__cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__card h3 {
  font-weight: 500;
  margin-top: 18px;
  text-align: center;
}

.team__card p {
  margin-top: 16px;
  text-align: center;
  max-width: 277px;
  font-weight: 200;
}

.errors {
  padding: 50px 0;
  background: linear-gradient(90deg, #7c9d29 0%, #9cc72f 47%, #7e9f2a 100%);
}

.errors__body {
  display: flex;
  flex-direction: column;
}

.errors__body h2 {
  color: #fff;
}

.errors__main {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 60px;
  padding: 0 50px;
}

.errors__main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.errors__main-info h3 {
  font-weight: 500;
}

.errors__main-info ul {
  margin-top: 20px;
}

.errors__main-info ul li {
  font-weight: 200;
  margin-bottom: 20px;
}

.errors__body p {
  margin-top: 40px;
  max-width: 890px;
  color: #fff;
}

.audit {
  background: #ef7f1a;
  padding: 50px 0;
}

.audit__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audit__body-title {
  padding-left: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.audit__body-title h2 {
  color: #fff;
  max-width: 458px;
}

.audit__body-title p {
  margin-top: 40px;
  color: #fff;
  font-weight: 200;
}

.audit__body-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 365px;
}

.audit__body-btn button {
  margin-bottom: 15px;
  padding: 15px 30px;
}

.audit__body-btn a {
  padding: 15px 30px;
}

.audit__body-btn p {
  color: #fff;
  font-weight: 200;
  margin-top: 30px;
  margin-left: auto;
}

.business {
  padding: 50px 0;
  background: linear-gradient(90deg, #7c9d29 0%, #9cc72f 47%, #7e9f2a 100%);
}

.business__body {
  gap: 0 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.business__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.business__right h2 {
  color: #fff;
}

.business__right a {
  padding: 15px 35px;
  margin-top: 40px;
}

.business__statistics {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.business__statistics span {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.business__statistics p {
  margin-top: 10px;
  color: #fff;
  font-weight: 300;
  max-width: 130px;
}

.business__statistics-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.office {
  padding: 50px 0;
  background: linear-gradient(90deg, #7c9d29 0%, #9cc72f 47%, #7e9f2a 100%);
}

.office__body {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.office h2 {
  color: #fff;
  max-width: 760px;
}

.office__body-left p {
  color: #fff;
  font-weight: 300;
  max-width: 320px;
  margin-bottom: 20px;
  line-height: 120%;
}

.office__body-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.office__body-left button {
  margin-bottom: 20px;
  padding: 15px 45px;
}

.office__body-left a {
  margin-bottom: 20px;
  padding: 15px 45px;
}

.office__body-right {
  border-radius: 30px;
  overflow: hidden;
}

.contacts {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 700px;
}
.contacts .container {
  padding: 0px 15px;
  width: 100%;
}
.contacts__contact {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__contact a,
.contacts__contact p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  color: #000000;
}

.contacts__contact a:last-child {
  margin-bottom: 0;
}

.contacts__contact a svg,
.contacts__contact p svg {
  margin-right: 10px;
}

.contacts__contact-body {
  display: flex;
  align-items: flex-start;
}

.contacts__contact-body svg {
  margin-right: 10px;
}

.contacts__contact-body {
  margin-bottom: 10px;
}

.map {
  position: absolute;
  width: 50%;
  right: 0;
}

.contacts__social {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__social a {
  margin-bottom: 20px;
}

.contacts__contact-link a {
  margin-bottom: 5px;
}
.contacts__contact-link a:last-child {
  margin-bottom: 0;
}

.hero__cup {
  padding: 50px 0 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.hero__cup img {
  position: absolute;
  top: 5px;
  left: 0;
}
.hero__cup-body {
  background-color: #fff;
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding: 33px 10px;
  z-index: -1;
  margin-left: 110px;
}

.hero__cup-body p {
  margin: 0;
  font-weight: 300;
  font-size: 19px;
  color: #000;
  padding-left: 40px;
  line-height: 120%;
}

.hero__cup-body p span {
  font-weight: 700;
}

.company__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company__cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.company__card {
  padding: 30px;
  min-height: 280px;
  background: #e2f1d7;
  max-width: 389px;
  width: 100%;
  border-radius: 25px;
}

.company__card:nth-child(1) {
  position: relative;
}

.company__card:nth-child(1) img {
  position: absolute;
  right: 0;
  bottom: -80px;
}

.company__card:nth-child(2) {
  background: #e2e8f0;
}

.company__card p {
  max-width: 280px;
  line-height: 120%;
}

.company__card p span {
  margin-bottom: 30px;
  display: block;
  font-weight: 600;
}

.company__cards-statistic {
  margin-top: 115px;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.company__card-statistic span {
  font-weight: 700;
  font-size: 40px;
  color: #9cc72f;
}

.company__card-statistic {
  max-width: 351px;
}

.company__card-statistic p {
  margin-top: 5px;
  line-height: 120%;
}

.accounting {
}

.accounting__body {
}
.accounting__cards {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.accounting__card {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.accounting__card-left {
  max-width: 387px;
  width: 100%;
  background: #e2f1d7;
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.accounting__card:nth-child(2) .accounting__card-left {
  background: #e2e8f0;
}

.accounting__card-left span {
  font-weight: 700;
  font-size: 51px;
  color: #fff;
}

.accounting__card-left h3 {
  font-weight: 500;
  margin-top: 20px;
}
.accounting__card-right {
  padding: 20px 0;
  width: 100%;
}

.accounting__card-right ul li {
  padding-bottom: 20px;
  line-height: 120%;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 20px;
}

.accounting__card-right ul li:last-child {
  margin-bottom: 0;
}
.included__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.included__cards {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.included__card {
  padding: 30px 20px;
  background: #e2e8f0;
  border-radius: 30px;
  display: flex;
  gap: 25px;
}

.included__card:nth-child(2n) {
  background: #e2f1d7;
}

.included__card span {
  font-weight: 700;
  font-size: 51px;
  color: #fff;
}

.included__card p {
  margin-top: 8px;
  line-height: 120%;
}

.included__card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.included__card-info ul {
  margin-top: 20px;
  padding-left: 23px;
}

.included__card-info ul li {
  list-style: disc;
  margin-bottom: 10px;
  clear: both;
}

.working__body {
  display: flex;
  justify-content: space-between;
}

.working__body .included__cards {
  max-width: 589px;
}

.working__body .working__right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.working__body .working__right img {
  max-width: 520px;
}

.working__body .working__right::before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0.79) 31%, rgba(255, 255, 255, 0) 100%);
  height: 700px;
  width: 100%;
  bottom: 0;
}

.included__card-info h3 {
  font-weight: 600;
}

.video {
  padding: 50px 0;
  background: linear-gradient(270deg, #7c9d29 0%, #6b8821 0%, #688521 100%);
}

#video-container {
  margin-top: 50px;
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}
#myVideo {
  width: 100%;
  height: auto;
  display: block;
}
#playButton {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: url("https://img.icons8.com/ios-filled/100/ffffff/play--v1.png") no-repeat center/contain;
  border: none;
  background-size: 70%;
  background-position: 18px center;
  background-color: #c76e20;
  cursor: pointer;
  padding: 30px;
  border-radius: 100%;
  outline: none;
  z-index: 10;
  transition: ease 0.2s;
}

#playButton:hover {
  background-color: #df7920;
}

.playing #playButton {
  display: none;
}

.video h2 {
  text-align: center;
  color: #fff;
}

.video__body {
  margin-top: 40px;
  border-radius: 40px;
  overflow: hidden;
}

video {
  zoom: 1.3;
}

.section__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.controls__body .section__title p {
  line-height: 120%;
  padding-right: 120px;
}

.controls__cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.controls__card {
  background-color: #e2f1d7;
  padding: 30px 5px 0 30px;
  border-radius: 25px;
  display: flex;
  max-width: 389px;
  width: 100%;
  flex-direction: column;
}

.controls__card:nth-child(2) {
  background-color: #e2e8f0;
}
.controls__card-title {
  display: flex;
  align-items: center;
}

.controls__card-title span {
  font-weight: 700;
  font-size: 51px;
  color: #fff;
  margin-right: 10px;
}

.controls__card-title h3 {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}
.controls__card-info {
  margin-top: 30px;
  max-width: 320px;
}

.controls__card-info ul li {
  font-weight: 300;
  font-size: 19px;
  color: #000;
  margin-bottom: 20px;
}
.controls__card-img {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__card-img img {
  margin-top: 20px;
}

.services {
  padding: 50px 0;
  background: linear-gradient(90deg, #7c9d29 0%, #9cc72f 47%, #7e9f2a 100%);
}

.services h2 {
  color: #fff;
}

.services__card {
  display: flex;
  justify-content: space-between;

  gap: 0 20px;
  margin-bottom: 20px;
}

.services__cards {
  margin-top: 40px;
  width: 100%;
}

.services__card-left {
  max-width: 594px;
  width: 100%;
}

.services__card-right {
  max-width: 590px;
  width: 100%;
}

.services__card-right p {
  color: #fff;
  font-weight: 200;
  min-height: 100%;
  line-height: 120%;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.services__card-left p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  line-height: 120%;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 15px 30px;
  color: #fff;
  font-size: 24px;
}

.callback__body {
  display: flex;
  flex-direction: column;
}

.callback__body h2 {
  text-align: center;
}
.callback__form {
  margin-top: 40px;
  background: #97c02e;
  display: flex;
  flex-direction: column;
  padding: 49px;
  border-radius: 35px;
}

.callback__form input {
  font-weight: 300;
  border-radius: 35px;
  padding: 10px 20px;
  background: #fff;
  border: none;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.35);
}
.callback__form-btn {
  margin-top: 40px;
}
.callback__form-btn .btn__green {
  display: inline-block;
  padding: 12px 30px;
}

.callback__form-btn .btn__orange {
  display: inline-block;
  padding: 12px 30px;
}

.sample__body p {
  margin-top: 25px;
}

.sample__body h3 {
  font-weight: 600;
}

.sample__cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.sample__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 389px;
}

.sample__card-body {
  padding: 33px 30px;
  background: #e2f1d7;
  border-radius: 20px;
  min-height: 278px;
}

.sample__card:nth-child(2) .sample__card-body {
  background: #e2e8f0;
}

.sample__card-img {
  margin-top: -100px;
  background: #fff;
  width: 219px;
  overflow: hidden;
  height: 219px;
  border-radius: 100%;
  box-shadow: 7px 7px 14px 0 rgba(0, 0, 0, 0.25);
}

.tarif__body p {
  margin-top: 28px;
  line-height: 120%;
}

.tarif__table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}

.tarif__table tr {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tarif__table tr:last-child td {
  border-bottom: none;
}

.col-1 {
  width: 30%;
  padding-bottom: 25px;
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 2px solid #e5e5e5;
}

.col-2 {
  width: 35%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  background: #e6ebf2;
  border-radius: 10px;
  padding: 10px 48px;
}

.col-3 {
  width: 35%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  background: #e2f1d7;
  border-radius: 10px;
  padding: 10px 48px;
}

.footer {
  padding: 50px 0;
  background: linear-gradient(90deg, #7c9d29 0%, #9cc72f 47%, #7e9f2a 100%);
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav ul li {
  font-weight: 300;
  font-size: 19px;
  color: #fff;
  margin-bottom: 6px;
  transition: ease 0.2s;
}

.footer__nav ul li:hover {
  opacity: 0.6;
}

.footer__nav ul li:last-child {
  margin-bottom: 0;
}

.footer__nav ul li a {
  text-decoration: none;
  color: #fff;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__contacts p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 19px;
  color: #fff;
}

.footer__contacts a {
  display: flex;
  align-items: center;
  color: #fff;
  transition: ease 0.2s;
}

.footer__contacts a:hover {
  opacity: 0.6;
}

.footer__contacts a svg {
  margin-right: 7px;
}

.footer__contacts-phone a {
  font-size: 19px;
  font-weight: 300;
  color: #fff;
  margin-left: 11px;
}

.footer__bottom-details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__bottom-details p {
  font-weight: 300;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__bottom-police {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__bottom-police a {
  font-weight: 300;
  font-size: 19px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer__bottom-social {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
}
